* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        tan, 
        rgb(152, 99, 30)
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background: linear-gradient(
        to top, 
        tan, 
        rgb(152, 99, 30)
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: darkkhaki;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: rgb(121, 106, 19);
}

#hero {
    background-image: url("../images/fantastic-beasts.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    background-color: darkred;
    padding: 48px;
    font-size: 60px;
    text-align: center;
    border-radius: 8px;
    color: #FFDDDD;
}

#layout {
    width: 50%;
    max-width: 900px;
    min-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.card {
    background-color: tan;
    padding: 48px;
    font-size: 24px;
    border-radius: 8px;;
}

.card img {
    width: 100%;
    background-color: beige;

}

@media screen and (max-width: 800px) {
    #navbar {
        flex-direction: column;
    }
    
    #layout {
        min-width: auto;
        width: 90%;
    }
}